<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Nos Avalie!</title>
    <script src="../js/main.js"></script>
    
    
</head>

<nav class="NavBotao">
<button id="botaoFixo" onclick="voltarAoInicio()"> ← Voltar ao Início</button>
</nav>




<body>
    <div class="container">
        <h1>Nos Avalie! 😃🍓🥕🥦</h1>
        <h2>|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</h2>
        <label for="sodaName">Como você descreve sua experiência com nosso site?</label>
        <label></label>
        <input type="text" id="sodaName">
        <label for="rating">De 0 a 10, quanto você avalia sua experiência?</label>
        <input type="range" id="rating" min="1" max="10" value="5">
        <button onclick="submitRating()">Enviar Avaliação</button>
        <div id="result"></div>
        
        
    </div>

</body>









</html>
